* {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
}
#container {
	width: 400px;
	margin: 60px auto;
	padding: 40px;
}
form {
	text-align: center;
}
	h2 {
		font-size: 22px;
	}
	input {
		display: block;
		width: 200px;
		height: 30px;
		margin: 0 auto 10px auto;
		padding: 0;
		vertical-align: middle;
	}
	input[type='submit'] {
		width: 80px;
		margin: 20px auto;
	}
.errorMsg {
	text-align: center;
	color: red;
}
.successMsg {
	color: green;
}